<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthShareUsageDescription</key>
	<string>Приложение использует данные о шагах, чтобы показывать вашу дневную активность.</string>
	<key>UIAppFonts</key>
	<array>
		<string>malgun-font.ttf</string>
		<string>malgunbd.ttf</string>
		<string>Manrope-Medium.ttf</string>
		<string>Manrope-Bold.ttf</string>
		<string>Manrope-ExtraBold.ttf</string>
	</array>
</dict>
</plist>
