<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Stepmates Auth.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D4D3B5762F4A25E400233376</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4D3B58C2F4A25E600233376</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4D3B5962F4A25E600233376</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
